/* ==============
  General
===================*/

body {
  background: $bg-body;
  font-family: $font-primary;
  margin: 0;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: $bg-body;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: $font-secondary;
}
h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 22px;
}

* {
  outline: none !important;
}

a {
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

.container {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

.footer {
  background-color: $white;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
  font-family: $font-secondary;
  font-size: 14px;
  letter-spacing: 0.03em;
}

#wrapper {
  height: $height;
  overflow: hidden;
  width: $width;
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}


/* Social */
.social-links {
  li {
    a {
      -webkit-border-radius: 50%;
      background: lighten($light,4%);
      border-radius: 50%;
      color: lighten($lightdark7,15%);
      display: inline-block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
    }
  }
}