/*
 Template Name: Doctorist - Patient Management System
 Author: Themesbrand
 File: Main Style css
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Source+Sans+Pro:400,600,700");
/* ==============
  General
===================*/
body {
  background: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  overflow-x: hidden; }

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: #f5f5f5; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: "Roboto", sans-serif; }

h1 {
  line-height: 43px; }

h2 {
  line-height: 35px; }

h3 {
  line-height: 30px; }

h4 {
  line-height: 22px; }

* {
  outline: none !important; }

a:hover {
  outline: 0;
  text-decoration: none; }
a:active {
  outline: 0;
  text-decoration: none; }
a:focus {
  outline: 0;
  text-decoration: none; }

.container {
  width: auto;
  padding-left: 10px;
  padding-right: 10px; }

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px; }

.footer {
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em; }

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%; }

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

/* Social */
.social-links li a {
  -webkit-border-radius: 50%;
  background: #f8f8f8;
  border-radius: 50%;
  color: #9f9f9f;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px; }

/* ==============
  Loader
===================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 9999999; }

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px; }

.spinner {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 50%;
  margin-left: -39px;
  margin-top: -39px; }

.spinner:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  margin-top: -23px;
  left: 50%;
  margin-left: -23px;
  border-width: 2px 1px;
  border-style: solid;
  border-color: #67a8e4 rgba(103, 168, 228, 0.3);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: spin 3.45s infinite;
  -o-animation: spin 3.45s infinite;
  -ms-animation: spin 3.45s infinite;
  -webkit-animation: spin 3.45s infinite;
  -moz-animation: spin 3.45s infinite; }

.spinner:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  background-color: #67a8e4;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(1080deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  50% {
    -o-transform: rotate(360deg); }
  100% {
    -o-transform: rotate(1080deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(360deg); }
  100% {
    -ms-transform: rotate(1080deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(1080deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  50% {
    -moz-transform: rotate(360deg); }
  100% {
    -moz-transform: rotate(1080deg); } }
@keyframes pulse {
  0% {
    background-color: rgba(103, 168, 228, 0.2); }
  13% {
    background-color: rgba(103, 168, 228, 0.2); }
  15% {
    background-color: rgba(103, 168, 228, 0.9); }
  28% {
    background-color: rgba(103, 168, 228, 0.9); }
  30% {
    background-color: rgba(103, 168, 228, 0.2); }
  43% {
    background-color: rgba(103, 168, 228, 0.2); }
  45% {
    background-color: rgba(103, 168, 228, 0.9); }
  70% {
    background-color: rgba(103, 168, 228, 0.9); }
  74% {
    background-color: rgba(103, 168, 228, 0.2); }
  100% {
    background-color: rgba(103, 168, 228, 0.9); } }
@-o-keyframes pulse {
  0% {
    background-color: rgba(103, 168, 228, 0.2); }
  13% {
    background-color: rgba(103, 168, 228, 0.2); }
  15% {
    background-color: rgba(103, 168, 228, 0.9); }
  28% {
    background-color: rgba(103, 168, 228, 0.9); }
  30% {
    background-color: rgba(103, 168, 228, 0.2); }
  43% {
    background-color: rgba(103, 168, 228, 0.2); }
  45% {
    background-color: rgba(103, 168, 228, 0.9); }
  70% {
    background-color: rgba(103, 168, 228, 0.9); }
  74% {
    background-color: rgba(103, 168, 228, 0.2); }
  100% {
    background-color: rgba(103, 168, 228, 0.9); } }
@-ms-keyframes pulse {
  0% {
    background-color: rgba(103, 168, 228, 0.2); }
  13% {
    background-color: rgba(103, 168, 228, 0.2); }
  15% {
    background-color: rgba(103, 168, 228, 0.9); }
  28% {
    background-color: rgba(103, 168, 228, 0.9); }
  30% {
    background-color: rgba(103, 168, 228, 0.2); }
  43% {
    background-color: rgba(103, 168, 228, 0.2); }
  45% {
    background-color: rgba(103, 168, 228, 0.9); }
  70% {
    background-color: rgba(103, 168, 228, 0.9); }
  74% {
    background-color: rgba(103, 168, 228, 0.2); }
  100% {
    background-color: rgba(103, 168, 228, 0.9); } }
@-webkit-keyframes pulse {
  0% {
    background-color: rgba(103, 168, 228, 0.2); }
  13% {
    background-color: rgba(103, 168, 228, 0.2); }
  15% {
    background-color: rgba(103, 168, 228, 0.9); }
  28% {
    background-color: rgba(103, 168, 228, 0.9); }
  30% {
    background-color: rgba(103, 168, 228, 0.2); }
  43% {
    background-color: rgba(103, 168, 228, 0.2); }
  45% {
    background-color: rgba(103, 168, 228, 0.9); }
  70% {
    background-color: rgba(103, 168, 228, 0.9); }
  74% {
    background-color: rgba(103, 168, 228, 0.2); }
  100% {
    background-color: rgba(103, 168, 228, 0.9); } }
@-moz-keyframes pulse {
  0% {
    background-color: rgba(103, 168, 228, 0.2); }
  13% {
    background-color: rgba(103, 168, 228, 0.2); }
  15% {
    background-color: rgba(103, 168, 228, 0.9); }
  28% {
    background-color: rgba(103, 168, 228, 0.9); }
  30% {
    background-color: rgba(103, 168, 228, 0.2); }
  43% {
    background-color: rgba(103, 168, 228, 0.2); }
  45% {
    background-color: rgba(103, 168, 228, 0.9); }
  70% {
    background-color: rgba(103, 168, 228, 0.9); }
  74% {
    background-color: rgba(103, 168, 228, 0.2); }
  100% {
    background-color: rgba(103, 168, 228, 0.9); } }
@keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(103, 168, 228, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(103, 168, 228, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(103, 168, 228, 0.8); } }
@-o-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(103, 168, 228, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(103, 168, 228, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(103, 168, 228, 0.8); } }
@-ms-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(103, 168, 228, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(103, 168, 228, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(103, 168, 228, 0.8); } }
@-webkit-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(103, 168, 228, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(103, 168, 228, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(103, 168, 228, 0.8); } }
@-moz-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(103, 168, 228, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(103, 168, 228, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(103, 168, 228, 0.8); } }
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* ==============
  Menu
===================*/
body {
  padding-bottom: 65px; }

.wrapper {
  padding-top: 120px; }

.page-title-box {
  padding: 22px 0; }
  .page-title-box .page-title {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0; }
  .page-title-box .breadcrumb .breadcrumb-item a {
    color: #707070; }

.container {
  width: 95%; }

#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: transparent;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 62px; }
  #topnav .dropdown.show .nav-link {
    background-color: rgba(255, 255, 255, 0.2); }
  #topnav .language-switch a img {
    float: right;
    margin-top: 5px; }
  #topnav .has-submenu.active a {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1) !important; }
  #topnav .has-submenu.active .submenu li.active > a {
    color: #67a8e4; }
  #topnav .topbar-main {
    background-color: #67a8e4; }
    #topnav .topbar-main .logo {
      color: #ffffff !important;
      font-size: 24px;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 60px;
      text-transform: uppercase;
      float: left; }
    #topnav .topbar-main .logo-sm {
      display: none; }
    #topnav .topbar-main .badge-topbar {
      position: absolute;
      top: 7px;
      right: 7px;
      z-index: 99; }
    #topnav .topbar-main .nav > li > a {
      height: 36px;
      width: 36px;
      padding: 0;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      margin: 12px 8px;
      color: rgba(29, 30, 58, 0.7); }
      #topnav .topbar-main .nav > li > a:focus, #topnav .topbar-main .nav > li > a:hover {
        background-color: rgba(29, 30, 58, 0.1);
        color: #1d1e3a; }
    #topnav .topbar-main .navbar-nav > .open > a {
      background-color: rgba(29, 30, 58, 0.1) !important; }
    #topnav .topbar-main .profile img {
      height: 34px;
      width: 34px;
      display: block; }
    #topnav .topbar-main .navbar-nav {
      margin: 0; }
  #topnav .navbar-custom {
    background-color: #263238;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding-left: 0; }
  #topnav .navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer; }
    #topnav .navbar-toggle:hover {
      background-color: transparent; }
      #topnav .navbar-toggle:hover span {
        background-color: #ffffff; }
    #topnav .navbar-toggle .lines {
      width: 25px;
      display: block;
      position: relative;
      margin: 0 10px 0 0;
      padding-top: 13px;
      height: 23px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    #topnav .navbar-toggle span {
      height: 2px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      display: block;
      margin-bottom: 5px;
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      transition: transform .5s ease; }
  #topnav .navbar-toggle.open span {
    position: absolute; }
    #topnav .navbar-toggle.open span:first-child {
      top: 18px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    #topnav .navbar-toggle.open span:nth-child(2) {
      visibility: hidden; }
    #topnav .navbar-toggle.open span:last-child {
      width: 100%;
      top: 18px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  #topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0; }
  #topnav .navigation-menu > li {
    display: inline-block;
    position: relative; }
  #topnav .navigation-menu > li > a {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 18px;
    padding-left: 25px;
    padding-right: 25px; }
    #topnav .navigation-menu > li > a:hover {
      color: #ffffff; }
    #topnav .navigation-menu > li > a:focus {
      color: #ffffff; }
    #topnav .navigation-menu > li > a:active {
      color: #ffffff; }
    #topnav .navigation-menu > li > a i {
      font-size: 18px;
      vertical-align: middle;
      margin-right: 5px;
      text-align: center;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
  #topnav .navigation-menu > li > a:hover, #topnav .navigation-menu > li > a:focus {
    background-color: transparent; }

.search-wrap {
  background-color: #f5f5f5;
  color: #1d1e3a;
  z-index: 9997;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  transform: translate3d(0, -100%, 0);
  transition: .3s; }
  .search-wrap form {
    display: flex;
    width: 100%; }
  .search-wrap .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .search-wrap .search-input {
    flex: 1 1;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent; }
  .search-wrap .close-search {
    width: 36px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: inherit;
    font-size: 24px; }
    .search-wrap .close-search:hover {
      color: #ea553d; }

.search-wrap.open {
  transform: translate3d(0, 0, 0); }

/* Notification */
.notification-list {
  margin-left: 0; }
  .notification-list .noti-title {
    border-radius: 0.25rem 0.25rem 0 0;
    margin: -4px 0px 0px 0px;
    width: auto;
    padding: 12px 20px; }
    .notification-list .noti-title h5 {
      margin: 0;
      font-size: 14px;
      text-transform: uppercase; }
    .notification-list .noti-title .label {
      float: right; }
  .notification-list .noti-icon {
    font-size: 28px;
    vertical-align: middle;
    color: #ffffff; }
  .notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 3px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 24px;
    height: 24px; }
  .notification-list .notify-item {
    padding: 10px 20px; }
    .notification-list .notify-item .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      line-height: 36px;
      text-align: center;
      margin-right: 10px;
      border-radius: 50%;
      color: #ffffff; }
      .notification-list .notify-item .notify-icon img {
        margin-top: 4px; }
    .notification-list .notify-item .notify-details {
      margin-bottom: 0;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .notification-list .notify-item .notify-details b {
        font-weight: 500; }
      .notification-list .notify-item .notify-details small {
        display: block;
        white-space: normal; }
      .notification-list .notify-item .notify-details span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px; }
  .notification-list .notify-all {
    border-radius: 0 0 0.25rem 0.25rem;
    margin: 0 0 -5px 0;
    background-color: #eeeeee; }
  .notification-list .profile-dropdown .notify-item {
    padding: 4px 20px; }
  .notification-list .nav-link {
    padding: 0 12px;
    line-height: 70px; }

.profile-dropdown {
  width: 170px; }
  .profile-dropdown i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px; }

.nav-user img {
  height: 36px;
  width: 36px; }

.arrow-none:after {
  border: none;
  margin: 0;
  display: none; }

/*
  Responsive Menu
*/
@media (min-width: 992px) {
  #topnav .navigation-menu > li > a {
    padding-top: 20px;
    padding-bottom: 20px; }

  #topnav .navigation-menu > li:first-of-type > a {
    padding-left: 0; }

  #topnav .navigation-menu > li.active:first-of-type > a {
    padding-left: 25px; }

  #topnav .navigation-menu > li.last-elements .submenu {
    left: auto;
    right: 0; }
  #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px; }
  #topnav .navigation-menu > li:hover a {
    color: #ffffff; }
    #topnav .navigation-menu > li:hover a i {
      color: #ffffff; }
  #topnav .navigation-menu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 15px 0;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1); }
  #topnav .navigation-menu > li .submenu.megamenu {
    white-space: nowrap;
    width: auto; }
  #topnav .navigation-menu > li .submenu.megamenu > li {
    overflow: hidden;
    width: 200px;
    display: inline-block;
    vertical-align: top; }
  #topnav .navigation-menu > li .submenu > li.has-submenu > a:after {
    content: "\56";
    font-family: "dripicons-v2";
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 15px; }
  #topnav .navigation-menu > li .submenu > li .submenu {
    left: 100%;
    top: 0;
    margin-top: 10px; }
  #topnav .navigation-menu > li .submenu li {
    position: relative; }
  #topnav .navigation-menu > li .submenu li ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 8px 25px;
    clear: both;
    white-space: nowrap;
    font-size: 16px;
    color: #1d1e3a;
    -webkit-transition: all .35s ease;
    transition: all .35s ease; }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #67a8e4; }
  #topnav .navigation-menu > li .submenu li span {
    display: block;
    padding: 8px 25px;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #1d1e3a; }
  #topnav .navbar-toggle {
    display: none; }

  #topnav #navigation {
    display: block; } }
@media (max-width: 991px) {
  .wrapper {
    padding-top: 60px; }

  .container {
    width: auto !important; }

  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
    text-align: left; }
  #topnav .navigation-menu > li {
    display: block; }
  #topnav .navigation-menu > li > a {
    color: #1d1e3a;
    padding: 15px; }
    #topnav .navigation-menu > li > a i {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0;
      vertical-align: inherit; }
  #topnav .has-submenu.active a, #topnav .navigation-menu > li > a:active, #topnav .navigation-menu > li > a:hover {
    color: #67a8e4 !important; }
  #topnav .navigation-menu > li > a:after {
    position: absolute;
    right: 15px; }
  #topnav .navigation-menu > li .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0; }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    position: relative;
    padding: 7px 20px;
    color: #1d1e3a; }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #67a8e4; }
  #topnav .navigation-menu > li .submenu li.has-submenu > a:after {
    content: "\54";
    font-family: "dripicons-v2";
    position: absolute;
    right: 30px; }
  #topnav .navigation-menu > li .submenu.open {
    display: block; }
  #topnav .navigation-menu > li .submenu .submenu {
    display: none;
    list-style: none; }
  #topnav .navigation-menu > li .submenu .submenu.open {
    display: block; }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul {
    list-style: none;
    padding-left: 0; }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul > li > span {
    display: block;
    position: relative;
    padding: 15px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: #1d1e3a; }
  #topnav .navigation-menu > li.has-submenu.open > a {
    color: #67a8e4; }
  #topnav .navbar-header {
    float: left; }

  #navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #ffffff; }

  #navigation.open {
    display: block;
    overflow-y: auto; } }
@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0; }

  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: -1px;
    margin-right: 0; }

  .navbar-toggle {
    display: block; } }
.topbar-custom {
  border-radius: 0;
  margin-bottom: 0; }
  .topbar-custom .nav-link {
    line-height: 60px;
    color: #ffffff; }
  .topbar-custom .dropdown-toggle:after {
    content: initial; }
  .topbar-custom .menu-left {
    overflow: hidden; }

.footer {
  left: 0 !important;
  font-family: "Source Sans Pro", sans-serif;
  font-size: inherit;
  padding: 20px 0; }

.header-title {
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 14px; }

/* ==============
  Bootstrap-custom
===================*/
.row {
  margin-right: -10px;
  margin-left: -10px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
.col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1,
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
  padding-left: 10px;
  padding-right: 10px; }

.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 5px; }

.dropdown-menu {
  padding: 4px 0;
  display: block;
  font-size: 15px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  margin-top: 20px; }

.show > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0; }

.dropdown-item.active, .dropdown-item:active {
  color: #1d1e3a;
  text-decoration: none;
  background-color: #eeeeee; }

.dropdown-item {
  padding: 6px 1.5rem; }

.dropdown-menu-lg {
  width: 270px; }

.bg-primary {
  background-color: #67a8e4 !important; }

.bg-success {
  background-color: #4ac18e !important; }

.bg-info {
  background-color: #3bc3e9 !important; }

.bg-warning {
  background-color: #ffbb44 !important; }

.bg-danger {
  background-color: #ea553d !important; }

.bg-muted {
  background-color: #707070 !important; }

.bg-white {
  background-color: #ffffff !important; }

.bg-dark {
  background-color: #1d1e3a !important; }

.bg-pink {
  background-color: #f06292; }

.bg-purple {
  background-color: #6d60b0; }

.bg-indigo {
  background-color: #5468da; }

.bg-teal {
  background-color: #009688; }

.bg-lime {
  background-color: #afb42b; }

.bg-orange {
  background-color: #fb8c00; }

.bg-brown {
  background-color: #8d6e63; }

.bg-blue-grey {
  background-color: #90a4ae; }

.text-white {
  color: #ffffff; }

.text-danger {
  color: #ea553d !important; }

.text-muted {
  color: #707070 !important; }

.text-primary {
  color: #67a8e4 !important; }

.text-warning {
  color: #ffbb44 !important; }

.text-success {
  color: #4ac18e !important; }

.text-info {
  color: #3bc3e9 !important; }

.text-dark {
  color: #1d1e3a !important; }

.text-pink {
  color: #f06292; }

.text-purple {
  color: #6d60b0; }

.text-indigo {
  color: #5468da; }

.text-teal {
  color: #009688; }

.text-lime {
  color: #afb42b; }

.text-orange {
  color: #fb8c00; }

.text-brown {
  color: #8d6e63; }

.text-blue-grey {
  color: #90a4ae; }

.badge {
  font-weight: 600; }

.badge-default {
  background-color: #eeeeee;
  color: #1d1e3a; }

.badge-primary {
  background-color: #67a8e4; }

.badge-success {
  background-color: #4ac18e; }

.badge-info {
  background-color: #3bc3e9; }

.badge-warning {
  background-color: #ffbb44; }

.badge-danger {
  background-color: #ea553d; }

.badge-dark {
  background-color: #1d1e3a; }

.badge-pink {
  background-color: #f06292; }

.badge-purple {
  background-color: #6d60b0; }

.badge-indigo {
  background-color: #5468da; }

.badge-teal {
  background-color: #009688; }

.badge-lime {
  background-color: #afb42b; }

.badge-orange {
  background-color: #fb8c00; }

.badge-brown {
  background-color: #8d6e63; }

.badge-blue-grey {
  background-color: #90a4ae; }

/* Navs & Tabs */
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color: #67a8e4; }

.nav-pills > .active > a > .badge {
  color: #67a8e4; }

/* List Group */
.list-group-item.active {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2; }
  .list-group-item.active:hover {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #444444;
    z-index: 2; }
    .list-group-item.active:hover .list-group-item-text {
      color: #67a8e4; }
  .list-group-item.active:focus {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #444444;
    z-index: 2; }
    .list-group-item.active:focus .list-group-item-text {
      color: #67a8e4; }
  .list-group-item.active .list-group-item-text {
    color: #67a8e4; }

.list-group-item {
  border-radius: 0;
  padding: 12px 20px;
  border: 1px solid fade(#1d1e3a, 6%); }
  .list-group-item:first-child {
    border-radius: 0;
    padding: 12px 20px; }
  .list-group-item:last-child {
    border-radius: 0;
    padding: 12px 20px; }

.list-group-item-heading {
  font-weight: 300; }

.list-group-item.active > .badge {
  color: #67a8e4; }

/* =============
   Alerts
============= */
.alert {
  position: relative;
  border: 0; }
  .alert .alert-link {
    font-weight: 600; }

.alert-success {
  color: #4ac18e;
  background-color: #e2f5ed; }
  .alert-success .alert-link {
    color: #37a174; }
  .alert-success hr {
    border-top-color: #37a174; }

.alert-info {
  color: #3bc3e9;
  background-color: #f2fbfe; }
  .alert-info .alert-link {
    color: #18afd9; }
  .alert-info hr {
    border-top-color: #18afd9; }

.alert-warning {
  color: #ffbb44;
  background-color: #ffefd3; }
  .alert-warning .alert-link {
    color: #ffa811; }
  .alert-warning hr {
    border-top-color: #ffa811; }

.alert-danger {
  color: #67a8e4;
  background-color: #d3e6f7; }
  .alert-danger .alert-link {
    color: #1f69ad; }
  .alert-danger hr {
    border-top-color: #1f69ad; }

.alert-colored {
  color: #ffffff !important; }

.alert-colored.alert-success {
  background-color: #4ac18e; }

.alert-colored.alert-info {
  background-color: #3bc3e9; }

.alert-colored.alert-warning {
  background-color: #ffbb44; }

.alert-colored.alert-danger {
  background-color: #ea553d; }

/* ==============
  Helper Classes
===================*/
.header-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px; }

.p-0 {
  padding: 0; }

.p-t-10 {
  padding-top: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.m-0 {
  margin: 0; }

.m-r-5 {
  margin-right: 5px; }

.m-r-10 {
  margin-right: 10px; }

.m-r-15 {
  margin-right: 15px; }

.m-l-10 {
  margin-left: 10px; }

.m-l-15 {
  margin-left: 15px; }

.m-t-5 {
  margin-top: 5px; }

.m-t-10 {
  margin-top: 10px; }

.m-t-15 {
  margin-top: 15px; }

.m-t-20 {
  margin-top: 20px; }

.m-t-30 {
  margin-top: 30px; }

.m-t-40 {
  margin-top: 40px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-b-30 {
  margin-bottom: 30px; }

.w-xs {
  min-width: 80px; }

.w-sm {
  min-width: 95px; }

.w-md {
  min-width: 110px; }

.w-lg {
  min-width: 140px; }

.m-h-50 {
  min-height: 50px; }

.l-h-34 {
  line-height: 34px; }

.font-14 {
  font-size: 14px; }

.font-16 {
  font-size: 16px; }

.font-18 {
  font-size: 18px; }

.font-20 {
  font-size: 20px; }

.font-32 {
  font-size: 32px; }

.font-40 {
  font-size: 40px; }

.font-light {
  font-weight: 400; }

.font-500 {
  font-weight: 500; }

.font-600 {
  font-weight: 600; }

.font-secondary {
  font-family: "Roboto", sans-serif; }

.no-border {
  border: none; }

.bx-shadow {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }

.thumb-sm {
  height: 32px;
  width: 32px; }

.thumb-md {
  height: 48px;
  width: 48px; }

.thumb-lg {
  height: 88px;
  width: 88px; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* ==============
  Waves Effect
===================*/
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.25); }

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7); }

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7); }

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7); }

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7); }

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7); }

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7); }

.waves-notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none; }

.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-block {
  display: block; }

/* ==============
  Print css
===================*/
@media print {
  .logo, .page-title, .breadcrumb, .footer, #topnav {
    display: none;
    margin: 0;
    padding: 0; }

  .left {
    display: none; }

  .content, .page-content-wrapper, .wrapper {
    margin-top: 0;
    padding-top: 0; }

  .content-page {
    margin-left: 0;
    margin-top: 0; }

  .topbar, .footer, .side-menu {
    display: none;
    margin: 0;
    padding: 0; }

  .content-page > .content {
    margin: 0; } }
/* ==============
 Demo Only css
===================*/
.button-items {
  margin-bottom: -10px; }
  .button-items .btn {
    margin-bottom: 10px;
    margin-right: 8px; }

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block; }

.icon-demo-content {
  color: #707070; }
  .icon-demo-content i {
    font-size: 22px;
    margin-right: 5px;
    vertical-align: middle;
    width: 30px;
    display: inline-block; }
  .icon-demo-content .col-sm-6 {
    margin-bottom: 30px;
    cursor: pointer; }
    .icon-demo-content .col-sm-6:hover i {
      color: #67a8e4; }

.color-box {
  color: #ffffff;
  padding: 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  border-radius: 3px; }

/* ==============
  Buttons
===================*/
.btn {
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif; }

.btn-primary, .btn-success, .btn-info, .btn-warning,
.btn-danger, .btn-dark, .btn-pink, .btn-purple, .btn-indigo, .btn-teal,
.btn-lime, .btn-orange, .btn-brown, .btn-blue-grey {
  color: #ffffff; }

.btn-secondary {
  background-color: #ffffff;
  border-color: rgba(29, 30, 58, 0.2); }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active,
.btn-secondary.focus, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary, .btn-secondary.active, .btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
  background-color: rgba(29, 30, 58, 0.07);
  border: 1px solid rgba(29, 30, 58, 0.2); }

.btn-primary {
  background-color: #67a8e4;
  border: 1px solid #67a8e4; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary, .btn-outline-primary.active, .btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover, .btn-primary.active,
.btn-primary:active, .show > .btn-primary.dropdown-toggle {
  background-color: #519ce0;
  border: 1px solid #519ce0; }

.btn-primary.focus, .btn-primary:focus, .btn-outline-primary.focus, .btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(103, 168, 228, 0.3);
  box-shadow: 0 0 0 2px rgba(103, 168, 228, 0.3); }

.btn-success {
  background-color: #4ac18e;
  border: 1px solid #4ac18e; }

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active,
.btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover,
.open > .dropdown-toggle.btn-success, .btn-outline-success.active, .btn-outline-success:active,
.show > .btn-outline-success.dropdown-toggle, .btn-outline-success:hover, .btn-success.active,
.btn-success:active, .show > .btn-success.dropdown-toggle {
  background-color: #3eb481;
  border: 1px solid #3eb481; }

.btn-info {
  background-color: #3bc3e9;
  border: 1px solid #3bc3e9; }

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus,
.btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info,
.btn-outline-info.active, .btn-outline-info:active,
.show > .btn-outline-info.dropdown-toggle, .btn-outline-info:hover, .btn-info.active, .btn-info:active,
.show > .btn-info.dropdown-toggle {
  background-color: #24bce6;
  border: 1px solid #24bce6; }

.btn-warning {
  background-color: #ffbb44;
  border: 1px solid #ffbb44; }

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active,
.btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover,
.open > .dropdown-toggle.btn-warning, .btn-outline-warning.active, .btn-outline-warning:active,
.show > .btn-outline-warning.dropdown-toggle, .btn-outline-warning:hover, .btn-warning.active,
.btn-warning:active, .show > .btn-warning.dropdown-toggle {
  background-color: #ffb22b;
  border: 1px solid #ffb22b; }

.btn-danger {
  background-color: #ea553d;
  border: 1px solid #ea553d; }

.btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active,
.btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover,
.open > .dropdown-toggle.btn-danger, .btn-outline-danger.active, .btn-outline-danger:active,
.show > .btn-outline-danger.dropdown-toggle, .btn-outline-danger:hover, .btn-danger.active,
.btn-danger:active, .show > .btn-danger.dropdown-toggle {
  background-color: #e84126;
  border: 1px solid #e84126; }

.btn-danger.focus, .btn-danger:focus, .btn-outline-danger.focus, .btn-outline-danger:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(234, 85, 61, 0.3);
  box-shadow: 0 0 0 2px rgba(234, 85, 61, 0.3); }

.btn-dark {
  background-color: #1d1e3a;
  border: 1px solid #1d1e3a;
  color: #ffffff; }

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus,
.btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open > .dropdown-toggle.btn-dark,
.btn-outline-dark.active, .btn-outline-dark:active,
.show > .btn-outline-dark.dropdown-toggle, .btn-outline-dark:hover {
  background-color: #151529;
  border: 1px solid #151529;
  color: #ffffff; }

.btn-dark.focus, .btn-dark:focus, .btn-outline-dark.focus, .btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(29, 30, 58, 0.3);
  box-shadow: 0 0 0 2px rgba(29, 30, 58, 0.3); }

.btn-link {
  color: #1d1e3a; }
  .btn-link:hover {
    color: #67a8e4; }

.btn-pink {
  background-color: #f06292;
  border: 1px solid #f06292;
  color: #ffffff; }

.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active, .btn-pink.focus,
.btn-pink:active, .btn-pink:focus, .btn-pink:hover, .open > .dropdown-toggle.btn-pink,
.btn-outline-pink.active, .btn-outline-pink:active,
.show > .btn-outline-pink.dropdown-toggle, .btn-outline-pink:hover {
  background-color: #ee4b82;
  border: 1px solid #ee4b82;
  color: #ffffff; }

.btn-pink.focus, .btn-pink:focus, .btn-outline-pink.focus, .btn-outline-pink:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(240, 98, 146, 0.3);
  box-shadow: 0 0 0 2px rgba(240, 98, 146, 0.3); }

.btn-purple {
  background-color: #6d60b0;
  border: 1px solid #6d60b0;
  color: #ffffff; }

.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .btn-purple.focus,
.btn-purple:active, .btn-purple:focus, .btn-purple:hover, .open > .dropdown-toggle.btn-purple,
.btn-outline-purple.active, .btn-outline-purple:active,
.show > .btn-outline-purple.dropdown-toggle, .btn-outline-purple:hover {
  background-color: #5f52a5;
  border: 1px solid #5f52a5;
  color: #ffffff; }

.btn-purple.focus, .btn-purple:focus, .btn-outline-purple.focus, .btn-outline-purple:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(109, 96, 176, 0.3);
  box-shadow: 0 0 0 2px rgba(109, 96, 176, 0.3); }

.btn-indigo {
  background-color: #5468da;
  border: 1px solid #5468da;
  color: #ffffff; }

.btn-indigo:hover, .btn-indigo:focus, .btn-indigo:active, .btn-indigo.active, .btn-indigo.focus,
.btn-indigo:active, .btn-indigo:focus, .btn-indigo:hover, .open > .dropdown-toggle.btn-indigo,
.btn-outline-indigo.active, .btn-outline-indigo:active,
.show > .btn-outline-indigo.dropdown-toggle, .btn-outline-indigo:hover {
  background-color: #3f55d5;
  border: 1px solid #3f55d5;
  color: #ffffff; }

.btn-indigo.focus, .btn-indigo:focus, .btn-outline-indigo.focus, .btn-outline-indigo:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(84, 104, 218, 0.3);
  box-shadow: 0 0 0 2px rgba(84, 104, 218, 0.3); }

.btn-teal {
  background-color: #009688;
  border: 1px solid #009688;
  color: #ffffff; }

.btn-teal:hover, .btn-teal:focus, .btn-teal:active, .btn-teal.active, .btn-teal.focus,
.btn-teal:active, .btn-teal:focus, .btn-teal:hover, .open > .dropdown-toggle.btn-teal,
.btn-outline-teal.active, .btn-outline-teal:active,
.show > .btn-outline-teal.dropdown-toggle, .btn-outline-teal:hover {
  background-color: #007d71;
  border: 1px solid #007d71;
  color: #ffffff; }

.btn-teal.focus, .btn-teal:focus, .btn-outline-teal.focus, .btn-outline-teal:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 150, 136, 0.3);
  box-shadow: 0 0 0 2px rgba(0, 150, 136, 0.3); }

.btn-lime {
  background-color: #afb42b;
  border: 1px solid #afb42b;
  color: #ffffff; }

.btn-lime:hover, .btn-lime:focus, .btn-lime:active, .btn-lime.active, .btn-lime.focus,
.btn-lime:active, .btn-lime:focus, .btn-lime:hover, .open > .dropdown-toggle.btn-lime,
.btn-outline-lime.active, .btn-outline-lime:active,
.show > .btn-outline-lime.dropdown-toggle, .btn-outline-lime:hover {
  background-color: #9b9f26;
  border: 1px solid #9b9f26;
  color: #ffffff; }

.btn-lime.focus, .btn-lime:focus, .btn-outline-lime.focus, .btn-outline-lime:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(175, 180, 43, 0.3);
  box-shadow: 0 0 0 2px rgba(175, 180, 43, 0.3); }

.btn-orange {
  background-color: #fb8c00;
  border: 1px solid #fb8c00;
  color: #ffffff; }

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .btn-orange.focus,
.btn-orange:active, .btn-orange:focus, .btn-orange:hover, .open > .dropdown-toggle.btn-orange,
.btn-outline-orange.active, .btn-outline-orange:active,
.show > .btn-outline-orange.dropdown-toggle, .btn-outline-orange:hover {
  background-color: #e27e00;
  border: 1px solid #e27e00;
  color: #ffffff; }

.btn-orange.focus, .btn-orange:focus, .btn-outline-orange.focus, .btn-outline-orange:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(251, 140, 0, 0.3);
  box-shadow: 0 0 0 2px rgba(251, 140, 0, 0.3); }

.btn-brown {
  background-color: #8d6e63;
  border: 1px solid #8d6e63;
  color: #ffffff; }

.btn-brown:hover, .btn-brown:focus, .btn-brown:active, .btn-brown.active, .btn-brown.focus,
.btn-brown:active, .btn-brown:focus, .btn-brown:hover, .open > .dropdown-toggle.btn-brown,
.btn-outline-brown.active, .btn-outline-brown:active,
.show > .btn-outline-brown.dropdown-toggle, .btn-outline-brown:hover {
  background-color: #7e6258;
  border: 1px solid #7e6258;
  color: #ffffff; }

.btn-brown.focus, .btn-brown:focus, .btn-outline-brown.focus, .btn-outline-brown:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(141, 110, 99, 0.3);
  box-shadow: 0 0 0 2px rgba(141, 110, 99, 0.3); }

.btn-blue-grey {
  background-color: #90a4ae;
  border: 1px solid #90a4ae;
  color: #ffffff; }

.btn-blue-grey:hover, .btn-blue-grey:focus, .btn-blue-grey:active, .btn-blue-grey.active, .btn-blue-grey.focus,
.btn-blue-grey:active, .btn-blue-grey:focus, .btn-blue-grey:hover, .open > .dropdown-toggle.btn-blue-grey,
.btn-outline-blue-grey.active, .btn-outline-blue-grey:active,
.show > .btn-outline-blue-grey.dropdown-toggle, .btn-outline-blue-grey:hover {
  background-color: #8198a3;
  border: 1px solid #8198a3;
  color: #ffffff; }

.btn-blue-grey.focus, .btn-blue-grey:focus, .btn-outline-blue-grey.focus, .btn-outline-blue-grey:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(144, 164, 174, 0.3);
  box-shadow: 0 0 0 2px rgba(144, 164, 174, 0.3); }

/* button Outline */
.btn-outline-primary {
  color: #67a8e4;
  border-color: #67a8e4; }

.btn-outline-success {
  color: #4ac18e;
  border-color: #4ac18e; }

.btn-outline-info {
  color: #3bc3e9;
  border-color: #3bc3e9; }

.btn-outline-warning {
  color: #ffbb44;
  border-color: #ffbb44; }

.btn-outline-danger {
  color: #ea553d;
  border-color: #ea553d; }

.btn-outline-dark {
  color: #1d1e3a;
  background-image: none;
  background-color: transparent;
  border-color: #1d1e3a; }

.btn-outline-pink {
  color: #f06292;
  background-image: none;
  background-color: transparent;
  border-color: #f06292; }

.btn-outline-purple {
  color: #6d60b0;
  background-image: none;
  background-color: transparent;
  border-color: #6d60b0; }

.btn-outline-indigo {
  color: #5468da;
  background-image: none;
  background-color: transparent;
  border-color: #5468da; }

.btn-outline-teal {
  color: #009688;
  background-image: none;
  background-color: transparent;
  border-color: #009688; }

.btn-outline-lime {
  color: #afb42b;
  background-image: none;
  background-color: transparent;
  border-color: #afb42b; }

.btn-outline-orange {
  color: #fb8c00;
  background-image: none;
  background-color: transparent;
  border-color: #fb8c00; }

.btn-outline-brown {
  color: #8d6e63;
  background-image: none;
  background-color: transparent;
  border-color: #8d6e63; }

.btn-outline-blue-grey {
  color: #90a4ae;
  background-image: none;
  background-color: transparent;
  border-color: #90a4ae; }

/* ==============
  Card
===================*/
.card {
  border: 1px solid rgba(112, 112, 112, 0.12); }

.card-primary {
  background-color: #67a8e4;
  border-color: #67a8e4; }

.card-success {
  background-color: #4ac18e;
  border-color: #4ac18e; }

.card-info {
  background-color: #3bc3e9;
  border-color: #3bc3e9; }

.card-warning {
  background-color: #ffbb44;
  border-color: #ffbb44; }

.card-danger {
  background-color: #ea553d;
  border-color: #ea553d; }

.card-dark {
  background-color: #1d1e3a;
  border-color: #1d1e3a; }

.card-pink {
  background-color: #f06292;
  border-color: #f06292; }

.card-purple {
  background-color: #6d60b0;
  border-color: #6d60b0; }

.card-indigo {
  background-color: #5468da;
  border-color: #5468da; }

.card-teal {
  background-color: #009688;
  border-color: #009688; }

.card-lime {
  background-color: #afb42b;
  border-color: #afb42b; }

.card-orange {
  background-color: #fb8c00;
  border-color: #fb8c00; }

.card-brown {
  background-color: #8d6e63;
  border-color: #8d6e63; }

.card-blue-grey {
  background-color: #90a4ae;
  border-color: #90a4ae; }

/* =============
   Tabs & Accordions
============= */
.nav-tabs .nav-link, .nav-pills .nav-link {
  font-family: "Roboto", sans-serif; }

.nav-tabs-custom {
  border-bottom: 2px solid #DDD; }
  .nav-tabs-custom .nav-item {
    position: relative; }
    .nav-tabs-custom .nav-item .nav-link {
      border: none !important; }

.nav-tabs-custom > li > a {
  color: #1d1e3a; }

.nav-tabs-custom > li > a::after {
  content: "";
  background: #67a8e4;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0); }

.nav-tabs-custom > li > a.active::after, .nav-tabs-custom > li:hover > a::after {
  transform: scale(1); }

.nav-tabs-custom > li > a.active {
  color: #67a8e4 !important; }

/* ==============
  Pagination
===================*/
.page-link {
  color: #67a8e4; }

.page-item.active .page-link {
  background-color: #67a8e4;
  border-color: #67a8e4; }

.page-link:focus, .page-link:hover {
  color: #1d1e3a;
  background-color: #eeeeee; }

/* ==============
  Progressbar
===================*/
.progress-bar {
  background-color: #67a8e4; }

/* ==============
  Popover & Tooltips
===================*/
.popover-title {
  margin-top: 0; }

.tooltip .tooltip-inner {
  padding: 4px 10px; }

/* =========== */
/* Sweet Alert */
/* =========== */
.swal2-modal {
  font-family: "Source Sans Pro", sans-serif; }
  .swal2-modal .swal2-title {
    font-size: 28px; }
  .swal2-modal .swal2-content {
    font-size: 16px; }
  .swal2-modal .swal2-spacer {
    margin: 10px 0; }
  .swal2-modal .swal2-file, .swal2-modal .swal2-input, .swal2-modal .swal2-textarea {
    border: 2px solid #707070;
    font-size: 16px;
    box-shadow: none !important; }
  .swal2-modal .swal2-styled {
    border: inherit; }

.swal2-icon.swal2-question {
  color: #67a8e4;
  border-color: #67a8e4; }

.swal2-icon.swal2-success {
  border-color: #4ac18e; }
  .swal2-icon.swal2-success .line {
    background-color: #4ac18e; }
  .swal2-icon.swal2-success .placeholder {
    border-color: #4ac18e; }

.swal2-icon.swal2-warning {
  color: #ffbb44;
  border-color: #ffbb44; }

.swal2-icon.swal2-error {
  border-color: #ea553d; }
  .swal2-icon.swal2-error .line {
    background-color: #ea553d; }

.swal2-modal .swal2-file:focus, .swal2-modal .swal2-input:focus, .swal2-modal .swal2-textarea:focus {
  outline: 0;
  border: 2px solid #67a8e4; }

/* =============
   Nestable
============= */
.custom-dd .dd-list .dd-item .dd-handle {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 10px 16px;
  height: auto;
  font-size: 15px;
  font-weight: normal;
  border-radius: 3px; }
  .custom-dd .dd-list .dd-item .dd-handle:hover {
    color: #67a8e4; }
.custom-dd .dd-list .dd-item button {
  height: auto;
  font-size: 25px;
  margin: 8px auto;
  color: #707070;
  width: 35px; }

.custom-dd-empty .dd-list .dd3-handle {
  border: none;
  background: #f3f3f3;
  height: 36px;
  width: 36px; }
  .custom-dd-empty .dd-list .dd3-handle:before {
    color: inherit;
    top: 7px; }
  .custom-dd-empty .dd-list .dd3-handle:hover {
    color: #67a8e4; }
.custom-dd-empty .dd-list .dd3-content {
  height: auto;
  border: none;
  padding: 8px 16px 8px 46px;
  background: #f3f3f3;
  font-family: "Source Sans Pro", sans-serif; }
  .custom-dd-empty .dd-list .dd3-content:hover {
    color: #67a8e4; }
.custom-dd-empty .dd-list button {
  width: 26px;
  height: 26px;
  font-size: 16px;
  font-weight: 600; }

.dd-dragel > .dd-item .dd-handle {
  padding: 8px 16px !important;
  background: #f3f3f3;
  height: auto; }

.dd-placeholder, .dd-empty {
  background: #f3f3f3;
  border: 1px dashed #707070; }

.dd-dragel > .dd3-item > .dd3-handle {
  border: none;
  background: #f3f3f3;
  height: 36px;
  width: 36px; }
  .dd-dragel > .dd3-item > .dd3-handle:before {
    color: inherit;
    top: 7px; }

.dd-dragel > .dd3-item > .dd3-content {
  padding: 8px 16px 8px 46px;
  background: #f3f3f3;
  height: auto; }

/* ==============
  Alertify
===================*/
.alertify, .alertify-logs {
  z-index: 999; }

.alertify input {
  border: 2px solid #707070; }

.alertify-logs > .show {
  padding: 10px 20px;
  border-radius: 3px; }

.alertify-logs > .success {
  background-color: #4ac18e;
  color: #ffffff; }

.alertify-logs > .error {
  background-color: #ea553d;
  color: #ffffff; }

.alertify-logs > *, .alertify-logs > .default {
  background-color: #67a8e4; }

/* ==============
  Email
===================*/
.email-leftbar {
  width: 200px;
  float: left; }

.email-rightbar {
  margin-left: 230px; }

.chat-user-box p.user-title {
  font-size: 14px;
  color: #1d1e3a;
  font-weight: 600; }
.chat-user-box p {
  font-size: 12px; }

@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%; }

  .email-rightbar {
    margin: 0; } }
.mail-list a {
  display: block;
  color: #26274b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 5px; }
.mail-list a.active {
  color: #ea553d;
  font-weight: 500; }

.message-list {
  display: block;
  padding-left: 0; }
  .message-list li {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    cursor: default;
    transition-duration: .3s; }
    .message-list li a {
      color: #707070; }
    .message-list li:hover {
      background: rgba(112, 112, 112, 0.08);
      transition-duration: .05s; }
    .message-list li .col-mail {
      float: left;
      position: relative; }
    .message-list li .col-mail-1 {
      width: 320px; }
      .message-list li .col-mail-1 .star-toggle,
      .message-list li .col-mail-1 .checkbox-wrapper-mail,
      .message-list li .col-mail-1 .dot {
        display: block;
        float: left; }
      .message-list li .col-mail-1 .dot {
        border: 4px solid transparent;
        border-radius: 100px;
        margin: 22px 26px 0;
        height: 0;
        width: 0;
        line-height: 0;
        font-size: 0; }
      .message-list li .col-mail-1 .checkbox-wrapper-mail {
        margin: 15px 10px 0 20px; }
      .message-list li .col-mail-1 .star-toggle {
        margin-top: 18px;
        font-size: 16px;
        margin-left: 5px; }
      .message-list li .col-mail-1 .title {
        position: absolute;
        top: 0;
        left: 110px;
        right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0; }
    .message-list li .col-mail-2 {
      position: absolute;
      top: 0;
      left: 320px;
      right: 0;
      bottom: 0; }
      .message-list li .col-mail-2 .subject,
      .message-list li .col-mail-2 .date {
        position: absolute;
        top: 0; }
      .message-list li .col-mail-2 .subject {
        left: 0;
        right: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .message-list li .col-mail-2 .date {
        right: 0;
        width: 170px;
        padding-left: 80px; }
  .message-list li.active,
  .message-list li.active:hover {
    box-shadow: inset 3px 0 0 #67a8e4; }
  .message-list li.unread {
    background-color: #f7f7f7; }
    .message-list li.unread a {
      color: #151529; }
  .message-list .checkbox-wrapper-mail {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    box-shadow: inset 0 0 0 1px #dddddd;
    border-radius: 1px; }
    .message-list .checkbox-wrapper-mail input {
      opacity: 0;
      cursor: pointer; }
    .message-list .checkbox-wrapper-mail input:checked ~ label {
      opacity: 1; }
    .message-list .checkbox-wrapper-mail label {
      position: absolute;
      height: 20px;
      width: 20px;
      left: 0;
      cursor: pointer;
      opacity: 0;
      margin-bottom: 0;
      transition-duration: .05s;
      top: 0; }
      .message-list .checkbox-wrapper-mail label:before {
        content: "\F12C";
        font-family: "Material Design Icons";
        top: 0;
        height: 20px;
        color: #151529;
        width: 20px;
        position: absolute;
        margin-top: -16px;
        left: 4px;
        font-size: 13px; }

/* ==============
  Charts
===================*/
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0; }

.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px; }

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2; }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em; }

/* Morris chart */
.morris-hover.morris-default-style {
  border-radius: 5px;
  padding: 10px 12px;
  background: #ffffff;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14); }
  .morris-hover.morris-default-style .morris-hover-point {
    font-weight: 600;
    line-height: 24px;
    font-size: 14px; }
  .morris-hover.morris-default-style .morris-hover-row-label {
    background-color: #1d1e3a;
    color: #ffffff;
    padding: 4px;
    border-radius: 5px 5px 0 0;
    margin: -10px -12px 10px; }

/* Flot chart */
#flotTip {
  padding: 8px 12px;
  background-color: #ffffff;
  z-index: 100;
  color: #1d1e3a;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  border-radius: 1px; }

/* Chartist chart */
.ct-golden-section:before {
  float: none; }

.ct-chart {
  height: 300px; }

.ct-grid {
  stroke: rgba(0, 0, 0, 0.09);
  stroke-width: 2px;
  stroke-dasharray: 3px; }

.ct-chart .ct-label {
  fill: #707070;
  color: #707070;
  font-size: 14px;
  line-height: 1; }

.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px; }

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #5468da; }

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #ffbb44; }

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #3bc3e9; }

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #ea553d; }

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #009688; }

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #afb42b; }

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #8d6e63; }

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #5468da; }

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #ffbb44; }

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #3bc3e9; }

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  background: #1d1e3a;
  color: #ffffff;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.chartist-tooltip.tooltip-show {
  opacity: 1; }

/* C3 chart */
.c3 svg {
  max-width: 100%; }

.c3-tooltip td > span {
  background: #1d1e3a; }

.c3-tooltip td {
  border-left: none; }

.c3-tooltip {
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
  opacity: 1; }

.c3-chart-arcs-title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif; }

.c3-tooltip tr {
  border: none !important; }

.c3-tooltip th {
  background-color: #1d1e3a; }

.c3-tooltip .value {
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif; }

.c3-line {
  stroke-width: 2px; }

.c3-legend-item {
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif; }

/* ==============
  Tables
===================*/
.table {
  margin-bottom: 10px; }

th {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem; }

.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
  padding: 15px 12px; }

.table-sm td, .table-sm th {
  padding: 8px 6px; }

.table-hover tbody tr:hover, .table-striped tbody tr:nth-of-type(odd),
.thead-default th {
  background-color: rgba(0, 0, 0, 0.03); }

.dt-button-collection.dropdown-menu {
  visibility: inherit;
  opacity: 1;
  display: none;
  margin: 0; }

/* == Responsive Table ==*/
table.focus-on tbody tr.focused th {
  background-color: #67a8e4;
  color: #ffffff; }
table.focus-on tbody tr.focused td {
  background-color: #67a8e4;
  color: #ffffff; }

.table-rep-plugin .btn-toolbar {
  display: block; }
.table-rep-plugin .btn-default {
  background-color: white;
  border-color: #dddddd;
  margin-right: 5px; }
.table-rep-plugin .btn-default.btn-primary {
  background-color: #67a8e4;
  border-color: #67a8e4; }
.table-rep-plugin .table-responsive {
  border: none !important; }
.table-rep-plugin .btn-group.pull-right .dropdown-menu {
  left: auto;
  right: 0; }
.table-rep-plugin tbody th {
  font-family: "Source Sans Pro", sans-serif;
  vertical-align: middle; }
.table-rep-plugin .checkbox-row {
  padding-left: 40px; }
  .table-rep-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative; }
    .table-rep-plugin .checkbox-row label::before {
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      background-color: #ffffff;
      border-radius: 3px;
      border: 1px solid #cccccc;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      transition: 0.3s ease-in-out;
      width: 17px;
      outline: none; }
    .table-rep-plugin .checkbox-row label::after {
      color: #555555;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: -1px;
      width: 16px; }
  .table-rep-plugin .checkbox-row input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none; }
    .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'FontAwesome'; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
    background-color: #67a8e4;
    border-color: #67a8e4; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    color: #ffffff; }
.table-rep-plugin .dropdown-menu li.checkbox-row label {
  margin-bottom: 5px;
  margin-top: 5px; }

.table-vertical td {
  vertical-align: middle; }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto; }

/* ==============
  Range slider
===================*/
.irs-from, .irs-to, .irs-single {
  background: #67a8e4; }

.irs-from:after, .irs-to:after, .irs-single:after {
  border-top-color: #67a8e4; }

/* ==============
  Session Timeout
===================*/
#session-timeout-dialog .modal-title {
  margin-top: 0; }
#session-timeout-dialog .close {
  display: none; }
#session-timeout-dialog .btn-default {
  background-color: #ffffff;
  color: #ea553d; }
#session-timeout-dialog .countdown-holder {
  color: #ea553d;
  font-weight: 700; }

/* ==============
  Form-elements
===================*/
label {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

input[type="color"] {
  min-height: 38px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #acacac !important; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #acacac !important; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #acacac !important; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #acacac !important; }

.form-control {
  font-family: "Source Sans Pro", sans-serif; }
  .form-control:focus {
    border-color: #a2a2a2; }

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #67a8e4; }

.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #67a8e4;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #67a8e4; }

.has-success .form-control {
  border-color: #4ac18e;
  box-shadow: none; }

.has-warning .form-control {
  border-color: #ffbb44;
  box-shadow: none; }

.has-error .form-control {
  border-color: #ea553d;
  box-shadow: none; }

.input-group-addon {
  border-radius: 2px;
  border: 1px solid #eeeeee; }

/* ==============
  Form-Validation
===================*/
.error {
  color: #ea553d; }

.parsley-error {
  border-color: #ea553d; }

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0; }

.parsley-errors-list.filled {
  display: block; }

.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #ea553d;
  margin-top: 5px; }

/* ==============
  Form-Upload
===================*/
/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 6px; }
  .dropzone .dz-message {
    font-size: 30px; }

/* ==============
  Form-Advanced
===================*/
/* Datepicker */
.datepicker {
  border: 1px solid #dddddd;
  padding: 8px; }

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover, .datepicker table tr td.today, .datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover, .datepicker table tr td.selected,
.datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover {
  background-color: #67a8e4 !important;
  background-image: none;
  box-shadow: none;
  color: #ffffff; }

/* Bootstrap-touchSpin */
.bootstrap-touchspin .input-group-btn-vertical .btn {
  padding: 9px 12px; }

.bootstrap-touchspin .input-group-btn-vertical i {
  top: 4px;
  left: 8px; }

/* Color Picker */
.colorpicker-visible {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-top: 0; }

.datepicker-dropdown.dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0; }

.colorpicker-selectors i {
  margin-top: 5px;
  margin-left: 5px; }

.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px; }

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px; }

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
  height: 30px; }

/* Select 2 */
.select2-container {
  width: 100% !important; }
  .select2-container .select2-selection--single {
    border: 1px solid #E3E3E3;
    height: 38px; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      line-height: 36px;
      padding-left: 12px; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      height: 34px;
      width: 34px;
      right: 3px; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        border-color: #999 transparent transparent transparent;
        border-width: 6px 6px 0 6px; }

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #999 transparent;
  border-width: 0 6px 6px 6px; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #67a8e4; }

.select2-results__option {
  padding: 6px 12px; }

.select2-dropdown {
  border: 1px solid #e3e3e3;
  padding-top: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); }

.select2-search input {
  border: 1px solid #e3e3e3; }

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid #e3e3e3; }
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px; }
  .select2-container .select2-selection--multiple .select2-search__field {
    margin-top: 7px;
    border: 0; }
  .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 1px;
    padding: 0 7px; }

/* CSS Switch */
input[switch] {
  display: none; }

input[switch] + label {
  font-size: 1em;
  line-height: 1;
  width: 56px;
  height: 24px;
  background-color: #dddddd;
  background-image: none;
  border-radius: 2rem;
  padding: 0.16667rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

input[switch] + label:before {
  color: #1d1e3a;
  content: attr(data-off-label);
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  right: 1px;
  margin: 3px;
  top: 0;
  text-align: center;
  min-width: 1.66667rem;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

input[switch] + label:after {
  content: '';
  position: absolute;
  left: 3px;
  background-color: #f5f5f5;
  box-shadow: none;
  border-radius: 2rem;
  height: 20px;
  width: 20px;
  top: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

input[switch]:checked + label {
  background-color: #67a8e4; }

input[switch]:checked + label:before {
  color: #ffffff;
  content: attr(data-on-label);
  right: auto;
  left: 3px; }

input[switch]:checked + label:after {
  left: 33px;
  background-color: #f5f5f5; }

input[switch="bool"] + label {
  background-color: #ea553d; }

input[switch="bool"] + label:before, input[switch="bool"]:checked + label:before,
input[switch="default"]:checked + label:before {
  color: #ffffff; }

input[switch="bool"]:checked + label {
  background-color: #4ac18e; }

input[switch="default"]:checked + label {
  background-color: #a2a2a2; }

input[switch="primary"]:checked + label {
  background-color: #67a8e4; }

input[switch="success"]:checked + label {
  background-color: #4ac18e; }

input[switch="info"]:checked + label {
  background-color: #3bc3e9; }

input[switch="warning"]:checked + label {
  background-color: #ffbb44; }

input[switch="danger"]:checked + label {
  background-color: #ea553d; }

input[switch="dark"]:checked + label {
  background-color: #1d1e3a; }

input[switch="pink"]:checked + label {
  background-color: #f06292; }

input[switch="purple"]:checked + label {
  background-color: #6d60b0; }

input[switch="orange"]:checked + label {
  background-color: #fb8c00; }

input[switch="brown"]:checked + label {
  background-color: #8d6e63; }

input[switch="teal"]:checked + label {
  background-color: #009688; }

input[switch="indigo"]:checked + label {
  background-color: #5468da; }

input[switch="blue-grey"]:checked + label {
  background-color: #90a4ae; }

/* Bootstrap filestyle */
.icon-span-filestyle {
  padding-right: 5px; }

.bootstrap-filestyle label {
  margin-bottom: 0; }

.group-span-filestyle .badge {
  background-color: #1d1e3a; }

/* ==============
  Form Editor
===================*/
.mce-panel {
  border-color: #e1e1e1;
  background-color: #eeeeee; }

.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus {
  background-color: #67a8e4; }

.mce-menu {
  background-color: #ffffff; }

/* ==============
  Form Wizard
===================*/
.form-wizard-wrapper label {
  text-align: right; }

.wizard > .steps a,
.wizard > .steps a:active,
.wizard > .steps a:hover {
  margin: 3px;
  padding: 15px; }

.wizard > .steps .current a,
.wizard > .steps .current a:active,
.wizard > .steps .current a:hover {
  background-color: #67a8e4;
  color: #ffffff; }

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:active,
.wizard > .steps .disabled a:hover,
.wizard > .steps .done a,
.wizard > .steps .done a:active,
.wizard > .steps .done a:hover {
  background-color: #e9f2fb;
  color: #67a8e4; }

.wizard > .steps .current a .number,
.wizard > .steps .current a:active .number,
.wizard > .steps .current a:hover .number {
  border: 2px solid #FFF; }

.wizard > .steps .disabled a .number,
.wizard > .steps .disabled a:active .number,
.wizard > .steps .disabled a:hover .number,
.wizard > .steps .done a .number,
.wizard > .steps .done a:active .number,
.wizard > .steps .done a:hover .number {
  border-color: #67a8e4; }

.wizard > .content {
  background-color: transparent;
  margin: 0 5px;
  border-radius: 0;
  min-height: 150px; }

.wizard > .content > .body {
  width: 100%;
  height: 100%;
  padding: 15px 0 0;
  position: static; }

.wizard > .steps .number {
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 38px;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  margin-right: 10px;
  background-color: rgba(103, 168, 228, 0.25); }

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:active,
.wizard > .actions .disabled a:hover {
  opacity: .65;
  background-color: #67a8e4;
  color: #ffffff;
  cursor: not-allowed; }

.wizard > .actions a,
.wizard > .actions a:active,
.wizard > .actions a:hover {
  background-color: #67a8e4;
  border-radius: 4px;
  padding: 8px 15px; }

@media (max-width: 768px) {
  .wizard > .steps > ul > li {
    width: 50%; }

  .form-wizard-wrapper label {
    text-align: left; } }
@media (max-width: 520px) {
  .wizard > .steps > ul > li {
    width: 100%; } }
/* ==============
  Summernote
===================*/
.note-btn-group .dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap; }
  .note-btn-group .dropdown-menu > li > a:hover {
    background-color: #f3f3f3; }

.note-image-popover, .note-air-popover, .note-link-popover {
  display: none; }
  .note-image-popover .dropdown-toggle::after, .note-air-popover .dropdown-toggle::after, .note-link-popover .dropdown-toggle::after {
    margin-left: 0; }

.note-icon-caret {
  display: none; }

.note-editor {
  position: relative; }
  .note-editor .btn-default {
    background-color: transparent;
    border-color: transparent; }
  .note-editor .btn-group-sm > .btn, .note-editor .btn-sm {
    padding: 8px 12px; }
  .note-editor .note-toolbar {
    background-color: #f3f3f3;
    border-bottom: 1px solid #eeeeee;
    margin: 0; }
  .note-editor .note-statusbar {
    background-color: #ffffff; }
    .note-editor .note-statusbar .note-resizebar {
      border-top: none;
      height: 15px;
      padding-top: 3px; }

.note-editor.note-frame {
  border: 1px solid #eeeeee; }

.note-popover .popover .popover-content {
  padding: 5px 0 10px 5px; }
.note-popover .btn-default {
  background-color: transparent;
  border-color: transparent; }
.note-popover .btn-group-sm > .btn, .note-popover .btn-sm {
  padding: 8px 12px; }

.note-toolbar {
  padding: 5px 0 10px 5px; }

/* ==============
  Calendar
===================*/
.calendar {
  float: left;
  margin-bottom: 0; }

.none-border .modal-footer {
  border-top: none; }

.fc-toolbar h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase; }

.fc-day {
  background: #ffffff; }

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active,
.fc-toolbar button:focus, .fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0; }

.fc-widget-header {
  background-color: #f3f3f3; }

.fc-widget-content {
  border: 1px solid #d5d5d5; }

.fc th.fc-widget-header {
  font-size: 15px;
  line-height: 20px;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 600; }

.fc button {
  height: auto;
  padding: 4px 16px; }

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-popover,
.fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th,
.fc-unthemed thead {
  border-color: rgba(221, 221, 221, 0.37); }

.fc-button {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  color: #555555;
  font-family: inherit;
  text-transform: capitalize; }

.fc-state-active, .fc-state-down {
  box-shadow: none;
  background-color: #67a8e4;
  border-color: #67a8e4;
  color: #ffffff;
  text-shadow: none; }

.fc-text-arrow {
  font-family: arial;
  font-size: 16px; }

.fc-state-hover {
  background: #f5f5f5; }

.fc-state-highlight {
  background: #f0f0f0; }

.fc-cell-overlay {
  background: #f0f0f0; }

.fc-unthemed .fc-today {
  background: #ffffff; }

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px;
  padding: 7px 5px;
  text-align: center;
  background-color: #67a8e4;
  color: #ffffff !important; }

.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px; }

.fc-basic-view td.fc-week-number span {
  padding-right: 5px; }
.fc-basic-view td.fc-day-number {
  padding-right: 5px; }

/* ==============
  Widgets
===================*/
.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0; }
  .widget-chart li i {
    font-size: 22px; }

.mini-stat {
  border: 1px solid rgba(112, 112, 112, 0.12);
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px; }

.mini-stat-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  color: #ffffff; }

.mini-stat-info {
  font-size: 14px;
  padding-top: 2px; }

.mini-stat-info span {
  display: block;
  font-size: 22px;
  font-weight: 400;
  font-family: "Roboto", sans-serif; }

/* Inbox-widget */
.inbox-widget .inbox-item {
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  padding: 10px 0;
  position: relative; }
  .inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 40px; }
  .inbox-widget .inbox-item img {
    width: 40px; }
  .inbox-widget .inbox-item .inbox-item-author {
    color: #333333;
    display: block;
    margin: 0; }
  .inbox-widget .inbox-item .inbox-item-text {
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    margin: 0; }
  .inbox-widget .inbox-item .inbox-item-date {
    color: #a9a9a9;
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 2px; }

.widget-chart-sm svg {
  float: left; }

/* ==============
  Timeline
===================*/
/* Activity */
.activity-feed {
  padding: 15px 15px 0 15px;
  list-style: none; }
  .activity-feed .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 2px solid #e4e8eb; }
    .activity-feed .feed-item:last-child {
      border-color: transparent; }
    .activity-feed .feed-item::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -6px;
      width: 10px;
      height: 10px;
      border-radius: 6px;
      background: #ffffff;
      border: 1px solid #67a8e4; }
    .activity-feed .feed-item .date {
      display: block;
      position: relative;
      top: -5px;
      color: #8c96a3;
      text-transform: uppercase;
      font-size: 13px; }
    .activity-feed .feed-item .activity-text {
      position: relative;
      top: -3px; }

/* Timeline */
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }

.cd-container::after {
  content: '';
  display: table;
  clear: both; }

#cd-timeline {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em 0;
  position: relative; }
  #cd-timeline::before {
    border-left: 3px solid #eeeeee;
    content: '';
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    width: 3px; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em; }
    #cd-timeline::before {
      left: 50%;
      margin-left: -2px; } }
.cd-timeline-block {
  margin: 2em 0;
  position: relative; }
  .cd-timeline-block:after {
    clear: both;
    content: "";
    display: table; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }

  .cd-timeline-block:first-child {
    margin-top: 0; }

  .cd-timeline-block:last-child {
    margin-bottom: 0; } }
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #ffffff;
  background-color: #67a8e4;
  border: 5px solid #ffffff; }
  .cd-timeline-img i {
    margin-left: 1px; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    line-height: 30px;
    left: 50%;
    margin-left: -20px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s; } }
.cd-timeline-content {
  border-radius: 5px;
  border: 2px solid #eeeeee;
  margin-left: 60px;
  padding: 1em;
  position: relative; }
  .cd-timeline-content:after {
    clear: both;
    content: "";
    display: table; }
  .cd-timeline-content h2 {
    margin-top: 0; }
  .cd-timeline-content .cd-read-more {
    background: #67a8e4;
    border-radius: 0.25em;
    color: white;
    display: inline-block;
    float: right;
    font-size: 14px;
    padding: .8em 1em; }
  .cd-timeline-content .cd-date {
    display: inline-block;
    font-size: 14px; }
  .cd-timeline-content h3 {
    font-size: 18px;
    margin: 0 0 15px 0; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-right: 12px solid #fafafa; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #eeeeee; }

  .cd-timeline-content .cd-read-more {
    float: left; }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #eeeeee; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s; } }
@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s; } }
/* ==== =====
Invoice
============= */
.table > thead > tr > .no-line {
  border-bottom: none; }

.table > tbody > tr > .no-line {
  border-top: none; }

.table > tbody > tr > .thick-line {
  border-top: 2px solid #eeeeee; }

/* ==============
  Maps
===================*/
.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #eeeeee;
  border-radius: 3px; }

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #67a8e4;
  border-radius: 4px;
  padding: 10px 20px; }

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute; }

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #67a8e4; }

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #67a8e4; }

/* ==============
  Account Pages
===================*/
.accountbg {
  background: url("../images/bg.jpg");
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0; }

.wrapper-page {
  margin: 7.5% auto;
  max-width: 440px;
  position: relative; }
  .wrapper-page .logo-admin {
    font-size: 28px;
    line-height: 70px; }
  .wrapper-page > .card {
    border-radius: .5rem; }

.user-thumb {
  position: relative;
  z-index: 999; }
  .user-thumb img {
    height: 88px;
    margin: 0 auto;
    width: 88px; }

.ex-page-content h1 {
  font-size: 98px;
  font-weight: 700;
  line-height: 150px;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px; }

.account-page-full {
  left: 0;
  position: absolute;
  height: 100%;
  margin: 0;
  width: 420px;
  background-color: #ffffff; }
  .account-page-full .card {
    border: none; }

/* ==============
  Pricing
===================*/
.plan-card .plan-icon {
  display: inline-block;
  font-size: 35px;
  width: 100px;
  height: 100px;
  color: #ffffff;
  line-height: 76px;
  overflow: hidden;
  border: 12px solid #ffffff;
  border-radius: 50%;
  background: #67a8e4;
  box-shadow: 0 0 3px #cccccc;
  transition: all .3s; }
.plan-card .plan-price span {
  font-size: 15px;
  vertical-align: middle; }
.plan-card .plan-features p {
  line-height: 32px; }

/* =============
   Gallery
============= */
.overlay-container {
  position: relative; }

.project-item img.gallery-thumb-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px; }

.project-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 5px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: .5s ease; }
  .project-item-overlay h4 {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    color: white;
    position: absolute;
    overflow: hidden;
    top: 7%;
    left: 7%;
    margin: 0;
    text-overflow: ellipsis; }
  .project-item-overlay p {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    color: white;
    position: absolute;
    overflow: hidden;
    bottom: 7%;
    left: 7%;
    text-overflow: ellipsis;
    margin: 0; }

.overlay-container:hover .project-item-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: .5s ease; }

/* ==============
  Coming Soon
===================*/
.count-down {
  padding: 0;
  text-align: center;
  height: auto; }
  .count-down li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 28px;
    display: inline-block;
    min-height: 250px; }
    .count-down li div {
      margin: 0;
      padding: 0; }
    .count-down li input {
      font-size: 48px;
      width: 215px !important;
      height: 40px !important;
      font-family: "Roboto", sans-serif;
      margin: 70px 0 0 -210px !important;
      font-weight: normal !important; }

#days-title, #hours-title, #mins-title, #secs-title {
  display: block;
  color: #67a8e4;
  text-transform: uppercase;
  margin-top: -90px;
  font-size: 18px;
  position: relative;
  z-index: 9; }

/* ==============
  Ecommerce
===================*/
.product-list-box {
  position: relative;
  border: 1px solid rgba(112, 112, 112, 0.12);
  padding: 10px;
  margin-bottom: 20px; }
  .product-list-box .product-tag {
    background: #ea553d;
    border-radius: 0;
    color: #ffffff;
    font-size: 13px;
    left: 0;
    letter-spacing: 1px;
    line-height: 21px;
    padding: 2px 13px;
    position: absolute;
    text-transform: uppercase;
    top: 28px;
    z-index: 99;
    font-family: "Roboto", sans-serif; }
  .product-list-box img {
    height: auto;
    margin: 0 auto;
    display: block; }
  .product-list-box .detail h4 a {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; }

.product-list-img {
  height: 48px;
  width: 48px; }

/* ==============
  Responsive
===================*/
@media (max-width: 1024px) {
  .side-menu.left {
    margin-left: -100%; }

  .button-menu-mobile {
    display: inline-block !important; }

  .topbar, .footer {
    left: 0; }

  .content-page {
    margin-left: 0; }

  .navbar-custom {
    padding-left: 10px; }

  .enlarged .side-menu.left {
    margin-left: 0 !important; }

  .content-page > .content {
    padding: 20px; } }
@media (max-width: 767px) {
  body {
    overflow-x: hidden; }

  .content-page {
    margin-left: 0 !important; }

  .enlarged .left.side-menu {
    margin-left: -75px; }

  .mobile-sidebar {
    left: 0; }

  .mobile-content {
    left: 250px;
    right: -250px; }

  .wrapper-page {
    width: 90%; }

  .account-page-full.wrapper-page {
    width: 100%;
    position: relative; }

  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0; }

  #wrapper.enlarged .footer, .footer {
    left: 0; } }
@media (max-width: 620px) {
  .page-header-title {
    text-align: center; } }
@media (max-width: 480px) {
  .side-menu {
    z-index: 10; }

  .page-title {
    display: none; } }
@media (max-width: 420px) {
  .hide-phone, .notify-icon {
    display: none; }

  .dropdown-menu-lg {
    width: 200px; }

  .notify-details {
    margin-left: 0 !important; } }

@media (min-width: 1200px) {
  .container.account-sign {
      width: 1140px;
      max-width: 100%;
  }
}

.account-sign {
  margin: 4% auto;
}

/*# sourceMappingURL=style.css.map */
